
@media screen and (min-width:250px) and (max-width: 440px) {
    #span_tittle_1 {
        letter-spacing: 2px !important;
        font-size: 11px !important;
    }

    #tittle_1 {
        margin-left: -38px !important;
    }

    #row_tittle_1 {
        text-align: center !important;
    }

    #span_row_tittle_1 {
        font-size: 20px !important;
        letter-spacing: 2px !important;
        margin-left: 0px !important;
    }

    #eve_div1 {
        width: 100% !important;
        height: 50% !important;
    }

    #eve_div2 {
        width: 100% !important;
        height: 50% !important;
    }

        #eve_div2 .journal-item-inner {
            padding-top: 30% !important;
        }

    #eve_div1 .journal-item-inner {
        padding-top: 30% !important;
    }

    #tittle_eve {
        padding: 0px !important;
    }
}


@media screen and (min-width: 341px) and (max-width: 440px) {

    #convocatoria_div_1 {
        width: 40% !important;
    }

    #convocatoria_div_2 {
        width: 60% !important;
        margin-top: 120px !important;
        top: 0 !important;
        margin-left: 40% !important;
    }

    #con_article_1 {
        padding: 0 !important;
        margin-top: 80px !important;
        width: 100% !important;
        margin-left: 0% !important;
    }

        #con_article_1 .features-inner {
            padding: 5px !important;
        }

    #con_h6_1 {
        font-size: 11px !important;
        letter-spacing: 2px !important;
    }

    #con_div2_art1 {
        height: 26% !important;
        padding: 0px !important;
    }

        #con_div2_art1 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art1 {
        letter-spacing: 2px !important;
        font-size: 11px !important;
        line-height: 18px !important;
    }

    #con_div2_art2 {
        height: 26% !important;
        padding: 0px !important;
    }

        #con_div2_art2 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art2 {
        letter-spacing: 2px !important;
        font-size: 11px !important;
        line-height: 18px !important;
    }

    #con_div2_art3 {
        height: 20% !important;
        padding: 0px !important;
    }

        #con_div2_art3 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art3 {
        letter-spacing: 3px !important;
        font-size: 12px !important;
        line-height: 28px !important;
    }


    #ev_detail_div1 {
        margin-top: 130px !important;
        padding: 1px !important;
        width: 40% !important;
    }

        #ev_detail_div1 .journal-item-inner {
            padding: 5px !important;
        }

    #ev_detail_div2 {
        top: 0 !important;
        left: 40% !important;
        margin-top: 130px !important;
        padding: 1px !important;
        width: 60% !important;
    }

        #ev_detail_div2 .features-inner {
            padding: 0px !important;
        }

    #ev_detail_h6_art1 {
        font-size: 11px !important;
        letter-spacing: 1.5px !important;
        line-height: 18px !important;
    }

    #ev_detail_art2_div1 {
        padding: 0 !important;
        width: 50% !important;
        margin-top: 12% !important;
    }

        #ev_detail_art2_div1 .service-icon-inner {
            padding: 0 !important;
            margin: 2px !important;
        }

    #ev_detail_art2_div2 .service-icon-inner {
        padding: 0 !important;
        margin: 2px !important;
    }

    #ev_detail_art2_div2 {
        padding: 0 !important;
        width: 50% !important;
        margin-top: 12% !important;
    }

    #ev_detail_art2_h4 {
        text-align: center;
        font-size: 11px !important;
        letter-spacing: 1.2px;
        line-height: 14px !important;
    }

    #ev_detail_art2_div2 .service-icon-inner h4 {
        font-size: 11px !important;
        letter-spacing: 1.2px;
        line-height: 14px !important;
        margin-bottom: 4px;
    }

    #ev_Detail_h3_last {
        font-size: 5px;
        letter-spacing: 1.5px;
    }

        #ev_Detail_h3_last span {
            font-size: 11px !important;
        }

    #works-container {
        width: 100%;
        height: 100%;
    }

        #works-container .works-item.works-item-one-third {
            width: 50% !important;
            height: 33.3% !important;
        }

            #works-container .works-item.works-item-one-third img {
                height: 100% !important;
            }

            #works-container .works-item.works-item-one-third .works-item-inner {
                width: 100%;
                height: 100%;
                padding: 5px;
                padding-top: 5px !important;
            }

                #works-container .works-item.works-item-one-third .works-item-inner span {
                    font-size: 12px !important;
                    letter-spacing: 2px !important;
                    line-height: 14px !important;
                }

    #lug_tittle {
        width: 100% !important;
        text-align: center;
        margin-left: 0 !important;
        padding: 0 !important;
    }


    #journal-container2 {
        width: 100% !important;
        height: 100% !important;
    }

    #lug_detail_div1 {
        width: 100% !important;
        height: 50% !important;
    }

    #lug_detail_div2 {
        width: 100% !important;
        padding-top: 0 !important;
        top: 50% !important;
        height: 50% !important;
    }

        #lug_detail_div2 .features-inner {
            padding: 30px !important;
        }

            #lug_detail_div2 .features-inner h6 {
                font-size: 12px !important;
                letter-spacing: 3px !important;
                line-height: 17px !important;
            }

        #lug_detail_div2 article {
            height: 100% !important;
        }

        
    #journal-container3 {
        width: 100% !important;
        height: 100% !important;
    }

    #te_div1 {
        width: 100% !important;
        height: 50% !important;
    }

    #te_div2 {
        width: 100% !important;
        height: 50% !important;
        padding-top: 0 !important;
        height: 50% !important;
        top: 50% !important;
    }

      #te_div2 article {
        height: 100% !important;
    }

        #te_div2 .features-inner {
            padding: 10px !important;
            height: 100% !important;
        }

    #lu_div2_h6 {
        font-size: 11px !important;
        letter-spacing: 1.5px !important;
        line-height: 15px !important;
    }

    #team_tittle{
             padding: 0 !important; 
     margin-left: 0 !important; 
    width: 100% !important;
    text-align: center;
    }
}

@media screen and (min-width: 300px) and (max-width: 340px) {

    #convocatoria_div_1 {
        width: 40% !important;
    }

    #convocatoria_div_2 {
        width: 60% !important;
        margin-top: 120px !important;
        top: 0 !important;
        margin-left: 40% !important;
    }

    #con_article_1 {
        padding: 0 !important;
        margin-top: 80px !important;
        width: 100% !important;
        margin-left: 0% !important;
    }

        #con_article_1 .features-inner {
            padding: 5px !important;
        }

    #con_h6_1 {
        font-size: 11px !important;
        letter-spacing: 2px !important;
    }

    #con_div2_art1 {
        height: 21% !important;
        padding: 0px !important;
    }

        #con_div2_art1 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art1 {
        letter-spacing: 1.5px !important;
        font-size: 10px !important;
        line-height: 14px !important;
    }

    #con_div2_art2 {
        height: 21% !important;
        padding: 0px !important;
    }

        #con_div2_art2 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art2 {
        letter-spacing: 1.5px !important;
        font-size: 10px !important;
        line-height: 14px !important;
    }

    #con_div2_art3 {
        height: 20% !important;
        padding: 0px !important;
    }

        #con_div2_art3 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art3 {
        letter-spacing: 2px !important;
        font-size: 11px !important;
        line-height: 20px !important;
    }

    #ev_detail_div1 {
        margin-top: 100px !important;
        padding: 1px !important;
        width: 40% !important;
    }

        #ev_detail_div1 .journal-item-inner {
            padding: 5px !important;
        }

    #ev_detail_div2 {
        top: 0 !important;
        left: 40% !important;
        margin-top: 100px !important;
        padding: 1px !important;
        width: 60% !important;
    }

        #ev_detail_div2 .features-inner {
            padding: 0px !important;
        }

    #ev_detail_h6_art1 {
        font-size: 11px !important;
        letter-spacing: 1.5px !important;
        line-height: 18px !important;
    }

    #ev_detail_art2_div1 {
        padding: 0 !important;
        width: 50% !important;
    }

        #ev_detail_art2_div1 .service-icon-inner {
            padding: 0 !important;
            margin: 2px !important;
        }

    #ev_detail_art2_div2 .service-icon-inner {
        padding: 0 !important;
        margin: 2px !important;
    }

    #ev_detail_art2_div2 {
        padding: 0 !important;
        width: 50% !important;
    }

    #ev_detail_art2_h4 {
        text-align: center;
        font-size: 11px !important;
        letter-spacing: 1.2px;
        line-height: 14px !important;
    }

    #ev_detail_art2_div2 .service-icon-inner h4 {
        font-size: 11px !important;
        letter-spacing: 1.2px;
        line-height: 14px !important;
        margin-bottom: 4px;
    }

    #ev_Detail_h3_last {
        font-size: 5px;
        letter-spacing: 1.5px;
    }

        #ev_Detail_h3_last span {
            font-size: 11px !important;
        }

    #works-container {
        width: 100%;
        height: 100%;
    }

        #works-container .works-item.works-item-one-third {
            width: 50% !important;
            height: 33.3% !important;
        }

            #works-container .works-item.works-item-one-third img {
                height: 100% !important;
            }

            #works-container .works-item.works-item-one-third .works-item-inner {
                width: 100%;
                height: 100%;
                padding: 5px;
                padding-top: 5px !important;
            }

                #works-container .works-item.works-item-one-third .works-item-inner span {
                    font-size: 12px !important;
                    letter-spacing: 2px !important;
                    line-height: 14px !important;
                }

    #lug_tittle {
        width: 100% !important;
        text-align: center;
        margin-left: 0 !important;
        padding: 0 !important;
    }

    #journal-container2 {
        width: 100% !important;
        height: 100% !important;
    }

    #lug_detail_div1 {
        width: 100% !important;
        height: 50% !important;
    }

    #lug_detail_div2 {
        width: 100% !important;
        padding-top: 0 !important;
        top: 50% !important;
        height: 50% !important;
    }

        #lug_detail_div2 .features-inner {
            padding: 0px !important;
        }

            #lug_detail_div2 .features-inner h6 {
                font-size: 12px !important;
                letter-spacing: 3px !important;
                line-height: 17px !important;
            }

        #lug_detail_div2 article {
            height: 100% !important;
        }

    #journal-container3 {
        width: 100% !important;
        height: 100% !important;
    }

    #te_div1 {
        width: 100% !important;
        height: 50% !important;
    }

    #te_div2 {
        width: 100% !important;
        height: 50% !important;
        padding-top: 0 !important;
        height: 50% !important;
        top: 50% !important;
    }

      #te_div2 article {
        height: 100% !important;
    }

        #te_div2 .features-inner {
            padding: 10px !important;
            height: 100% !important;
        }

    #lu_div2_h6 {
        font-size: 11px !important;
        letter-spacing: 1.5px !important;
        line-height: 15px !important;
    }

    #team_tittle{
             padding: 0 !important; 
     margin-left: 0 !important; 
    width: 100% !important;
    text-align: center;
    }
}

@media screen and (min-width:441px) and (max-width: 700px) {

    #row_tittle_1 {
        text-align: center !important;
    }

    #span_row_tittle_1 {
        font-size: 20px !important;
        letter-spacing: 2px !important;
        margin-left: 0px !important;
    }


    #convocatoria_div_1 {
        width: 40% !important;
    }

    #convocatoria_div_2 {
        width: 60% !important;
        margin-top: 120px !important;
        top: 0 !important;
        margin-left: 40% !important;
    }

    #con_article_1 {
        padding: 0 !important;
        margin-top: 80px !important;
        width: 100% !important;
        margin-left: 0% !important;
    }

        #con_article_1 .features-inner {
            padding: 5px !important;
        }

    #con_h6_1 {
        font-size: 13px !important;
        letter-spacing: 3px !important;
    }

    #con_div2_art1 {
        height: 23% !important;
        padding: 0px !important;
    }

        #con_div2_art1 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art1 {
        letter-spacing: 2px !important;
        font-size: 12px !important;
        line-height: 22px !important;
    }

    #con_div2_art2 {
        height: 23% !important;
        padding: 0px !important;
    }

        #con_div2_art2 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art2 {
        letter-spacing: 2px !important;
        font-size: 12px !important;
        line-height: 22px !important;
    }

    #con_div2_art3 {
        height: 20% !important;
        padding: 0px !important;
    }

        #con_div2_art3 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art3 {
        letter-spacing: 2px !important;
        font-size: 12px !important;
        line-height: 25px !important;
    }

    #eve_div1 {
        width: 100% !important;
        height: 50% !important;
    }

    #eve_div2 {
        width: 100% !important;
        height: 50% !important;
        top: 50% !important;
    }

        #eve_div2 .journal-item-inner {
            padding-top: 30% !important;
        }

    #eve_div1 .journal-item-inner {
        padding-top: 30% !important;
    }

    #eve_div2 img {
        width: 100% !important;
    }

    #eve_div1 img {
        width: 100% !important;
    }

    #tittle_eve {
        padding: 0px !important;
    }

    #journal-container {
        height: 100% !important;
    }


    #ev_detail_div1 {
        margin-top: 180px !important;
        padding: 1px !important;
        width: 40% !important;
    }

        #ev_detail_div1 .journal-item-inner {
            padding: 8px !important;
            margin-top: 12%;
        }

    #ev_detail_div2 {
        top: 0 !important;
        left: 40% !important;
        margin-top: 180px !important;
        padding: 1px !important;
        width: 60% !important;
    }

        #ev_detail_div2 .features-inner {
            padding: 10px !important;
        }

    #ev_detail_h6_art1 {
        font-size: 16px !important;
        letter-spacing: 2px !important;
        line-height: 27px !important;
    }

    #ev_detail_art2_div1 {
        padding: 5px !important;
        width: 50% !important;
        margin-top: 16% !important;
    }

        #ev_detail_art2_div1 .service-icon-inner {
            padding: 10px !important;
            margin: 2px !important;
        }

    #ev_detail_art2_div2 .service-icon-inner {
        padding: 10px !important;
        margin: 2px !important;
    }

    #ev_detail_art2_div2 {
        padding: 15px !important;
        width: 50% !important;
        margin-top: 16% !important;
    }

    #ev_detail_art2_h4 {
        text-align: center;
        font-size: 13px !important;
        letter-spacing: 1.7px;
        line-height: 18px !important;
    }

    #ev_detail_art2_div2 .service-icon-inner h4 {
        font-size: 13px !important;
        letter-spacing: 1.7px;
        line-height: 18px !important;
        margin-bottom: 4px;
    }

    #ev_Detail_h3_last {
        font-size: 5px;
        letter-spacing: 1.5px;
    }

        #ev_Detail_h3_last span {
            font-size: 17px !important;
            line-height: 28px !important;
        }

    #works-container {
        width: 100%;
        height: 100%;
    }

        #works-container .works-item.works-item-one-third {
            width: 50% !important;
            height: 33.3% !important;
        }

            #works-container .works-item.works-item-one-third img {
                height: 100% !important;
            }

            #works-container .works-item.works-item-one-third .works-item-inner {
                width: 100%;
                height: 100%;
                padding: 20px;
                padding-top: 20px !important;
            }

                #works-container .works-item.works-item-one-third .works-item-inner span {
                    font-size: 14px !important;
                    letter-spacing: 2px !important;
                    line-height: 14px !important;
                }

    #lug_tittle {
        width: 100% !important;
        text-align: center;
        margin-left: 0 !important;
        padding: 0 !important;
    }


    #journal-container2 {
        width: 100% !important;
        height: 100% !important;
    }

    #lug_detail_div1 {
        width: 100% !important;
        height: 50% !important;
    }

    #lug_detail_div2 {
        width: 100% !important;
        padding-top: 0 !important;
        padding: 20px !important;
        top: 50% !important;
        height: 50% !important;
    }

        #lug_detail_div2 .features-inner {
            padding: 50px !important;
        }

            #lug_detail_div2 .features-inner h6 {
                font-size: 17px !important;
                letter-spacing: 4px !important;
                line-height: 22px !important;
            }

        #lug_detail_div2 article {
            height: 100% !important;
        }

        
    #journal-container3 {
        width: 100% !important;
        height: 100% !important;
    }

    #te_div1 {
        width: 100% !important;
        height: 50% !important;
    }

    #te_div2 {
        width: 100% !important;
        height: 50% !important;
        padding-top: 0 !important;
        height: 50% !important;
        top: 50% !important;
    }

      #te_div2 article {
        height: 100% !important;
    }

        #te_div2 .features-inner {
            padding: 10px !important;
            height: 100% !important;
        }

    #lu_div2_h6 {
        font-size: 14px !important;
        letter-spacing: 2px !important;
        line-height: 19px !important;
    }

    #team_tittle{
             padding: 0 !important; 
     margin-left: 0 !important; 
    width: 100% !important;
    text-align: center;
    }
}

@media screen and (min-width:701px) and (max-width: 970px) {

    #row_tittle_1 {
        text-align: center !important;
    }

    #span_row_tittle_1 {
        font-size: 23px !important;
        letter-spacing: 2px !important;
        margin-left: 0px !important;
    }

    #convocatoria_div_1 {
        width: 40% !important;
    }

    #convocatoria_div_2 {
        width: 60% !important;
        margin-top: 120px !important;
        top: 0 !important;
        margin-left: 40% !important;
    }

    #con_article_1 {
        padding: 0 !important;
        margin-top: 80px !important;
        width: 100% !important;
        margin-left: 0% !important;
    }

        #con_article_1 .features-inner {
            padding: 15px !important;
        }

    #con_h6_1 {
        font-size: 15px !important;
        letter-spacing: 3px !important;
    }

    #con_div2_art1 {
        height: 28% !important;
        padding: 29px !important;
    }

        #con_div2_art1 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art1 {
        letter-spacing: 2.5px !important;
        font-size: 14px !important;
        line-height: 26px !important;
    }

    #con_div2_art2 {
        height: 28% !important;
        padding-top: 29px !important;
    }

        #con_div2_art2 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art2 {
        letter-spacing: 2.5px !important;
        font-size: 14px !important;
        line-height: 26px !important;
    }

    #con_div2_art3 {
        height: 20% !important;
        padding: 29px !important;
    }

        #con_div2_art3 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art3 {
        letter-spacing: 2.5px !important;
        font-size: 16px !important;
        line-height: 26px !important;
    }


    #eve_div1 {
        width: 100% !important;
        height: 50% !important;
    }

    #eve_div2 {
        width: 100% !important;
        height: 50% !important;
        top: 50% !important;
    }

        #eve_div2 .journal-item-inner {
            padding-top: 30% !important;
        }

    #eve_div1 .journal-item-inner {
        padding-top: 30% !important;
    }

    #eve_div2 img {
        width: 100% !important;
    }

    #eve_div1 img {
        width: 100% !important;
    }

    #tittle_eve {
        padding: 0px !important;
    }

    #journal-container {
        height: 100% !important;
    }

    #ev_detail_div1 {
        margin-top: 180px !important;
        padding: 1px !important;
        width: 40% !important;
    }

        #ev_detail_div1 .journal-item-inner {
            padding: 8px !important;
            margin-top: 12%;
        }

    #ev_detail_div2 {
        top: 0 !important;
        left: 40% !important;
        margin-top: 180px !important;
        padding: 1px !important;
        width: 60% !important;
    }

        #ev_detail_div2 .features-inner {
            padding: 10px !important;
        }

    #ev_detail_h6_art1 {
        font-size: 16px !important;
        letter-spacing: 2px !important;
        line-height: 27px !important;
    }

    #ev_detail_art2_div1 {
        padding: 5px !important;
        width: 50% !important;
        margin-top: 16% !important;
    }

        #ev_detail_art2_div1 .service-icon-inner {
            padding: 10px !important;
            margin: 2px !important;
        }

    #ev_detail_art2_div2 .service-icon-inner {
        padding: 10px !important;
        margin: 2px !important;
    }

    #ev_detail_art2_div2 {
        padding: 15px !important;
        width: 50% !important;
        margin-top: 16% !important;
    }

    #ev_detail_art2_h4 {
        text-align: center;
        font-size: 13px !important;
        letter-spacing: 1.7px;
        line-height: 18px !important;
    }

    #ev_detail_art2_div2 .service-icon-inner h4 {
        font-size: 13px !important;
        letter-spacing: 1.7px;
        line-height: 18px !important;
        margin-bottom: 4px;
    }

    #ev_Detail_h3_last {
        font-size: 5px;
        letter-spacing: 1.5px;
    }

        #ev_Detail_h3_last span {
            font-size: 17px !important;
            line-height: 28px !important;
        }

    #works-container {
        width: 100%;
        height: 100%;
    }

        #works-container .works-item.works-item-one-third {
            width: 50% !important;
            height: 33.3% !important;
        }

            #works-container .works-item.works-item-one-third img {
                height: 100% !important;
            }

            #works-container .works-item.works-item-one-third .works-item-inner {
                width: 100%;
                height: 100%;
                padding: 40px;
                padding-top: 40px !important;
            }

                #works-container .works-item.works-item-one-third .works-item-inner span {
                    font-size: 15px !important;
                    letter-spacing: 3px !important;
                    line-height: 14px !important;
                }

    #lug_tittle {
        width: 100% !important;
        text-align: center;
        margin-left: 0 !important;
        padding: 0 !important;
    }

    #journal-container2 {
        width: 100% !important;
        height: 100% !important;
    }

    #lug_detail_div1 {
        width: 100% !important;
        height: 50% !important;
    }

    #lug_detail_div2 {
        width: 100% !important;
        padding-top: 0 !important;
        padding: 20px !important;
        top: 50% !important;
        height: 50% !important;
    }

        #lug_detail_div2 .features-inner {
            padding: 70px !important;
        }

            #lug_detail_div2 .features-inner h6 {
                font-size: 19px !important;
                letter-spacing: 4px !important;
                line-height: 25px !important;
            }

        #lug_detail_div2 article {
            height: 100% !important;
        }

        
    #journal-container3 {
        width: 100% !important;
        height: 100% !important;
    }

    #te_div1 {
        width: 100% !important;
        height: 50% !important;
    }

    #te_div2 {
        width: 100% !important;
        height: 50% !important;
        padding-top: 0 !important;
        height: 50% !important;
        top: 50% !important;
    }

      #te_div2 article {
        height: 100% !important;
    }

        #te_div2 .features-inner {
            padding: 10px !important;
            height: 100% !important;
        }

    #lu_div2_h6 {
        font-size: 16px !important;
        letter-spacing: 2.5px !important;
        line-height: 28px !important;
    }

    #team_tittle{
             padding: 0 !important; 
     margin-left: 0 !important; 
    width: 100% !important;
    text-align: center;
    }
}

@media screen and (min-width:1251px) and (max-width: 2250px) {
	#te_div2{
	padding-top: 90px !important;
}

#lug_detail_div2{
	padding-top: 120px !important;
}
   #ev_detail_div2{
	   
	   padding-top: 80px !important;
   }
}

@media screen and (min-width:971px) and (max-width: 1250px) {

 #row_tittle_1 {
        text-align: center !important;
    }

    #span_row_tittle_1 {
        font-size: 25px !important;
        letter-spacing: 3px !important;
        margin-left: 0px !important;
    }

    #convocatoria_div_1 {
        width: 40% !important;
    }

    #convocatoria_div_2 {
        width: 60% !important;
        margin-top: 120px !important;
        top: 0 !important;
        margin-left: 40% !important;
    }

    #con_article_1 {
        padding: 0 !important;
        margin-top: 80px !important;
        width: 100% !important;
        margin-left: 0% !important;
    }

        #con_article_1 .features-inner {
            padding: 15px !important;
        }

    #con_h6_1 {
        font-size: 15px !important;
        letter-spacing: 3px !important;
    }

    #con_div2_art1 {
        height: 28% !important;
        padding: 29px !important;
    }

        #con_div2_art1 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art1 {
        letter-spacing: 2.5px !important;
        font-size: 14px !important;
        line-height: 26px !important;
    }

    #con_div2_art2 {
        height: 28% !important;
        padding-top: 29px !important;
    }

        #con_div2_art2 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art2 {
        letter-spacing: 2.5px !important;
        font-size: 14px !important;
        line-height: 26px !important;
    }

    #con_div2_art3 {
        height: 20% !important;
        padding: 29px !important;
    }

        #con_div2_art3 .features-inner {
            padding: 5px !important;
        }

    #h6_con_div2_art3 {
        letter-spacing: 2.5px !important;
        font-size: 16px !important;
        line-height: 26px !important;
    }

    #works-container {
        width: 100%;
        height: 100%;
    }

    #works-container .works-item.works-item-one-third {
        width: 33.3% !important;
        height: 50% !important;
    }

    #works-container .works-item.works-item-one-third img {
        height: 100% !important;
    }

    #works-container .works-item.works-item-one-third .works-item-inner {
        width: 100%;
        height: 100%;
        padding: 70px;
        padding-top: 70px !important;
    }

    #works-container .works-item.works-item-one-third .works-item-inner span {
        font-size: 17px !important;
        letter-spacing: 2px !important;
        line-height: 17px !important;
    }

    #lug_tittle {
        width: 100% !important;
        text-align: center;
        margin-left: 0 !important;
        padding: 0 !important;
    }
}
